{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block css_links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/bike.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

{% endblock %}

{% block content %}
    <div class="container">
        <div id="shop-search">
            <div id="city-search">

                <select class=" sel f_select" name="city" id="select-city">
                    <option value="" selected disabled hidden>Choose here</option>
                    {% for city in cities %}
                    
                        <option value="{{ city.city }}">{{ city.city }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="region-search">

                <select class="sel s_select" name="region" id="select-region">
                    
                </select>
            </div>
            <div id="search-shops-btn">BUTTON</div>
        </div>
        <div class="shop__cards">

        </div>
    </div>
{% endblock %}


{% block scripts %}
<script>
    let selectCity = document.getElementById("select-city");
    selectCity.onchange = () => {
        let city = selectCity.value;
        let regions;
        let selectRegion = document.getElementById("select-region");
        selectRegion.innerHTML = "";
        let option;
        {% for city in cities %} 
            if ("{{ city.city }}" === city) {
                {% for region in city.regions %}
                    option = document.createElement("option");
                    option.innerHTML = "{{region.region}}";
                    option.value = "{{region.region}}";
                    selectRegion.appendChild(option);
                {% endfor %}
            }
        {% endfor %}
        console.log(regions)
    }
</script>

<script>
    let button = document.getElementById("search-shops-btn");
    button.onclick = () => {
        fetch("{{ url_for('meeting.get_shops') }}", {
            method: "POST",
            mode: "cors",
            body: JSON.stringify({
                region: document.getElementById("select-region").value
            })
        }).then(data => data.json())
            .then(data => console.log(data))
    }
</script>
<script>

</script>
{% endblock %}