{% extends "base.html" %}

{% block css_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/join.css') }}">
{% endblock %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="container">
    <div class="join__block">
        <div class="join__search-block">
            <div class="join__search">
                <span>Search for: </span>
                <input  type="text" class="first-input"  placeholder="Area" />
                <input type='date' class="second-input" placeholder="Date" />
          
                <select class="select-css" name="skill level" id="third-input">
                    <option disabled>Skill level</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <button class="join__btn">click</button>
            </div>
        </div>
        <div class="join__results results-card">
            {% for meeting in meetings %}
            <div class="join__card">
            <div class="join__desc">
                <span>Title: <span>{{ meeting.title }}</span></span>
                <span>When: <span>{{ meeting.date_time }}</span></span>
                <span>Where: <span>{{ meeting.area }}</span></span>
                <span>Skill level: <span>{{ meeting.min_skill }}</span></span>
                <!-- <span>Notes: <span>blablabla</span></span> -->
            </div>
            <div class="join__creator">
                <div class="join__creator-head">
                    <div class="join__person">
                        <span>{{ meeting.creator.username }}</span>
                        <div class="join__img">
                            {% if meeting.creator.avatar %}
                                <img src="{{ url_for('static', filename=meeting.creator.avatar) }}" alt="" />
                            {% else %}
                                <img src="{{ url_for('static', filename='img/anon-user.png') }}" alt="" />
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="join__creator-body">
                    <div class="join__details" id="{{ meeting.id }}">See details</div>
                    <div class="join__join {% if meeting in current_user.participations %} inactive-btn {% endif %}" id="{{ meeting.id }}">Join</div>
                    <!-- url_for("meeting.join") body={"meeting_id": id}-->
                        
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    const firstInput = document.querySelector('.first-input');
    const secondInput = document.querySelector('.second-input');
    const thirdInput = document.querySelector('#third-input');
    const btn = document.getElementsByClassName('join__btn')[0];
    
    let link = `{{ url_for('meeting.join_meeting') }}`;

    let args = []

    btn.addEventListener('click', () => {

        if(firstInput.value.trim() !== '') {
            args.push(`area=${firstInput.value.trim()}`)
        }
        if(secondInput.value.trim() !== '') { 

            args.push(`date=${secondInput.value.trim()}`)

        }  
        if(thirdInput.value.trim() !== '') { 

            args.push(`skill=${thirdInput.value.trim()}`)
        }   
        let args_string = '';
        if (args.length !== 0) {
            args_string = '?' + args.join('&');
        }
        console.log(link + args_string);
        args = [];
        firstInput.value = ''
        secondInput.value = ''
        thirdInput.value = '1'

        location.href = link + args_string;

    })
</script>

<script>
   const buttons = document.getElementsByClassName('join__join');

   for(let i = 0; i < buttons.length; i++) {
       let meetingId = buttons[i].id;
       buttons[i].addEventListener('click', () => {
           if (!buttons[i].classList.contains("inactive-btn")) {
                fetch('{{ url_for("meeting.join") }}', {
                    method: 'POST',
                    mode: 'cors',
                    body: JSON.stringify({ meeting_id: meetingId})
                })
                .then(data => data.json())
                .then(data => {
                    if(data.status === 'success') {
                        buttons[i].classList.add('inactive-btn')
                    }
                    console.log(data)
                })
           }
       })
       
   }
</script>
<script>
    let detail_btns = document.getElementsByClassName("join__details");
    for (let detail_btn of detail_btns) {
        detail_btn.onclick = () => {
            console.log(detail_btn.id)
            createModal(detail_btn.id)
        }
    }

    function createModal(meeting_id) {
        {% for meeting in meetings %}
        if (meeting_id == {{ meeting.id }}) {
            const modal = document.createElement('div');
            modal.innerHTML = `
            <div id="popup" class="sign-in__popup open">
                <div class="popup__body">
                    <div id='popup__content' class="pop__cont popup__content content__open">
                    <a class="popup__close">x</a>
                    <h2>{{meeting.title}}</h2>
                    {% if meeting.description %}
                        <p>{{meeting.description}}</p>
                    {% else %}
                        <p>No description.</p>
                    {% endif %}
                    <p>Creator: {{meeting.creator.username}}</p>
                    <p>Date: {{meeting.date_time.date()}}</p>
                    </div>
                </div>
                </div>
            `
            
            modal.addEventListener('click', () => {
                modal.classList.add('non')
            })
           
            document.body.appendChild(modal)
        }
        {% endfor %}

    }
</script>
<script>
    //  for(let i = 0; i < buttons.length; i++) {
    // buttons[i].addEventListener('click', () => {
    //     buttons[i].classList.toggle('inactive-btn')
    //     buttons[i].innerHTML = 'sdf'
    //     if(buttons[i].textContent == 'sdf') {
    //     buttons[i].innerHTML = 'Join'

    //     }
    // })

    //  }

    // const pop = document.createElement('div');
    // pop.innerHTML = `
    // <div id="popup" class="sign-in__popup">
    //   <div class="popup__body">
    //     <div class="popup__content">
    //       <a class="popup__close">x</a>
    //     </div>
    //   </div>
    // </div>`;
    // console.log(pop)

    // const cards = document.getElementsByClassName('join__results');
    // for(let i = 0; i < cards.length; i++) {
    //     cards[i].addEventListener('click', (e) => {
    //         if(e.target.className == 'join__details') {
    //             console.log('dick', e.target.parentElement.parentElement.previousElementSibling)
    //             const pop = document.createElement('div');
    // pop.innerHTML = `
    // <div id="popup" class="sign-in__popup">
    //   <div class="popup__body">
    //     <div class="popup__content">
    //       <a class="popup__close">x</a>
    //       <p>sdf</p>
    //     </div>
    //   </div>
    // </div>`;
    //         }
    //     })
    // }

</script>
{% endblock %}