.container-alert {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 30px;
}
 .empty__block h3 {
  font-size: 20px;
}
.alert span {
  font-size: 16px;
  padding: 18px;
}
.alert, .empty__block {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.8);
}