<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/join.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header__row">
          <div class="header__logo">
            <a href="">LOGO</a>
          </div>

          <div class="header__list">
            <ul>
              <li><a href="">About us</a></li>
              <li class="header__sign"><a href="">Sign up</a></li>
              <li class="header__log"><a href="">Log in</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <section class="join">
      <div class="container">
        <div class="join__block">
          <div class="join__search-block">
            <div class="join__search">
              <span>Search for: </span>
              <input  type="text" class="first-input"  placeholder="Area" />
              <input type='date' class="second-input" placeholder="Date" />
              
              <select class="select-css" name="skill level" id="">
                <option disabled>Skill level</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
              <button class="join__btn">click</button>
            </div>
          </div>
          <div class="join__results results-card">
            <div class="join__card">
              <div class="join__desc">
                <span>Title: <span>blablabla</span></span>
                <span>When: <span>blablabla</span></span>
                <span>Where: <span>blablabla</span></span>
                <span>Skill level: <span>blablabla</span></span>
                <span>Notes: <span>blablabla</span></span>
              </div>
              <div class="join__creator">
                <div class="join__creator-head">
                  <div class="join__person">
                    <span>Creator name</span>
                    <div class="join__img">
                      <img src="img/ujhs.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="join__creator-body">
                  <div class="join__details">See details</div>
                  <div class="join__join">Join</div>
                </div>
              </div>
            </div>
            <div class="join__card">
              <div class="join__desc">
                <span>Title: <span>blablabla</span></span>
                <span>When: <span>blablabla</span></span>
                <span>Where: <span>blablabla</span></span>
                <span>Skill level: <span>blablabla</span></span>
                <span>Notes: <span>blablabla</span></span>
              </div>
              <div class="join__creator">
                <div class="join__creator-head">
                  <div class="join__person">
                    <span>Creator name</span>
                    <div class="join__img">
                      <img src="img/ujhs.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="join__creator-body">
                  <div class="join__details">See details</div>
                  <div class="join__join">Join</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="create">
      <div class="container">
        <div class="create__row">
          <div class="create__back">Back to profile page</div>
          <div class="create__meeting">Create a meeting</div>
        </div>
      </div>
    </section>
    <script src="join.js"></script>
  </body>
</html>
