<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="styles/normalize.css"> -->
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/profile.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet"> 
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="container">
        <div class="header__row">
          <div class="header__logo">
            <a href="">LOGO</a>
          </div>
  
          <div class="header__list">
            <ul>
              <li><a href="">About us</a></li>
              <li class="header__sign"><a href="">Sign up</a></li>
              <li class="header__log"><a href="">Log in</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
   
    <section class="profile">
      <div class="container">
        <div class="profile__block">
          <div class="profile__title">
            <h3>Welcome Home Sanitarium</h3>
          </div>
          <div class="profile__buttons">
            <div class="profile__btn">Join a meeting</div>
            <div class="profile__btn">Create a meeting</div>
            <div class="profile__btn">Your activities</div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <script src="index.js"></script>
</body>
</html>