<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- HEADER -->
    <div class="wrapper">
        <header>
        <div class="container">
            <div class="header__row">
            <div class="header__logo">
                <a href="">LOGO</a>
            </div>
    
            <div class="header__list">
                <ul>
                <li><a href="">About us</a></li>
                {% if not current_user.is_authenticated %}
                        <li class="header__sign"><a href="">Sign up</a></li>
                        <li class="header__log"><a href="">Log in</a></li>
                {% else %}
                        <li><a href="">Rent a bike</a></li>
                        <li><a href="">Profile settings</a></li>
                        <li><a href="">Logout</a></li>
                {% endif %}
                </ul>
            </div>
            </div>
        </div>
        </header>
    <main>
      {% block content %}

      {% endblock %}
    </main>
  </div>
    
  <script src="index.js"></script>
</body>
</html>