<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="styles/normalize.css"> -->
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="container">
        <div class="header__row">
          <div class="header__logo">
            <a href="">LOGO</a>
          </div>
  
          <div class="header__list">
            <ul>
              <li><a href="">About us</a></li>
              <li class="header__sign"><a href="">Sign up</a></li>
              <li class="header__log"><a href="">Log in</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="content">
        <div class="container">
          <div class="content__block">
            <div class="content__text">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus dolores, perferendis quos, mollitia explicabo reprehenderit voluptatem facere doloribus consequatur rerum repellat voluptatum nulla. Quia laudantium nihil commodi odio, odit voluptatum!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus dolores, perferendis quos, mollitia explicabo reprehenderit voluptatem facere doloribus consequatur rerum repellat voluptatum nulla. Quia laudantium nihil commodi odio, odit voluptatum!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus dolores, perferendis quos, mollitia explicabo reprehenderit voluptatem facere doloribus consequatur rerum repellat voluptatum nulla. Quia laudantium nihil commodi odio, odit voluptatum!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus dolores, perferendis quos, mollitia explicabo reprehenderit voluptatem facere doloribus consequatur rerum repellat voluptatum nulla. Quia laudantium nihil commodi odio, odit voluptatum!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus dolores, perferendis quos, mollitia explicabo reprehenderit voluptatem facere doloribus consequatur rerum repellat voluptatum nulla. Quia laudantium nihil commodi odio, odit voluptatum!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus dolores, perferendis quos, mollitia explicabo reprehenderit voluptatem facere doloribus consequatur rerum repellat voluptatum nulla. Quia laudantium nihil commodi odio, odit voluptatum!
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <!-- FIRST POPUP -->
  <div id="popup" class="sign-in__popup">
    <div class="popup__body">
      <div class="popup__content">
        <a class="popup__close">x</a>
        <div class="popup__title">popup blablabla</div>
        <div class="popup__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis architecto voluptate magni dolore nam hic obcaecati dolorum dolores vero.</div>
      </div>
    </div>
  </div>
  <!-- SECOND POPUP -->
  <div class="log-in__popup">
    <div class="log__popup__body">
      <div class="log__popup__content">
        <a class="log__popup__close">x</a>
        <div class="log__popup__title">Login</div>
        <div class="log__popup__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis architecto voluptate magni dolore nam hic obcaecati dolorum dolores vero.</div>
      </div>
    </div>
  </div>
  <script src="index.js"></script>
</body>
</html>